<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://developpeur-drupal.com/">
  <channel>
    <title>seo</title>
    <link>https://developpeur-drupal.com/</link>
    <description/>
    <language>fr</language>
    
    <item>
  <title>L'art de l'url rewriting sous Drupal avec pathauto</title>
  <link>https://developpeur-drupal.com/article/art-url-rewriting-drupal-pathauto</link>
  <description>
&lt;span&gt;L'art de l'url rewriting sous Drupal avec pathauto&lt;/span&gt;

&lt;span&gt;&lt;span&gt;Jean&lt;/span&gt;&lt;/span&gt;

&lt;span&gt;&lt;time datetime="2013-03-11T19:59:17+01:00" title="Lundi 11 mars 2013 - 19:59"&gt;lun 11/03/2013 - 19:59&lt;/time&gt;
&lt;/span&gt;
</description>
  <pubDate>Mon, 11 Mar 2013 18:59:17 +0000</pubDate>
    <dc:creator>Jean</dc:creator>
    <guid isPermaLink="false">22 at https://developpeur-drupal.com</guid>
    </item>

  </channel>
</rss>
