<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://developpeur-drupal.com/">
  <channel>
    <title>gitlab</title>
    <link>https://developpeur-drupal.com/</link>
    <description/>
    <language>fr</language>
    
    <item>
  <title>Quickly setup Gtilab-CI with your Drupal 8 module</title>
  <link>https://developpeur-drupal.com/en/article/quickly-setup-gtilab-ci-your-drupal-8-module</link>
  <description>
&lt;span&gt;Intégration de Gtilab-CI avec votre module ou thème Drupal 8&lt;/span&gt;

&lt;span&gt;&lt;span&gt;Jean&lt;/span&gt;&lt;/span&gt;

&lt;span&gt;&lt;time datetime="2019-07-23T08:57:45+02:00" title="Mardi 23 juillet 2019 - 08:57"&gt;mar 23/07/2019 - 08:57&lt;/time&gt;
&lt;/span&gt;
</description>
  <pubDate>Tue, 23 Jul 2019 06:57:45 +0000</pubDate>
    <dc:creator>Jean</dc:creator>
    <guid isPermaLink="false">32 at https://developpeur-drupal.com</guid>
    </item>
<item>
  <title>Drupal 8 et Gitlab-ci</title>
  <link>https://developpeur-drupal.com/article/drupal-8-gitlab-ci</link>
  <description>
&lt;span&gt;Drupal 8 et Gitlab-ci&lt;/span&gt;

&lt;span&gt;&lt;span&gt;Jean&lt;/span&gt;&lt;/span&gt;

&lt;span&gt;&lt;time datetime="2018-12-23T02:48:18+01:00" title="Dimanche 23 décembre 2018 - 02:48"&gt;dim 23/12/2018 - 02:48&lt;/time&gt;
&lt;/span&gt;
</description>
  <pubDate>Sun, 23 Dec 2018 01:48:18 +0000</pubDate>
    <dc:creator>Jean</dc:creator>
    <guid isPermaLink="false">15 at https://developpeur-drupal.com</guid>
    </item>
<item>
  <title>Avoir son repo privé et public : Gitlab !</title>
  <link>https://developpeur-drupal.com/article/avoir-son-repo-prive-public-gitlab</link>
  <description>
&lt;span&gt;Avoir son repo privé et public : Gitlab !&lt;/span&gt;

&lt;span&gt;&lt;span&gt;Jean&lt;/span&gt;&lt;/span&gt;

&lt;span&gt;&lt;time datetime="2013-02-02T21:53:32+01:00" title="Samedi 2 février 2013 - 21:53"&gt;sam 02/02/2013 - 21:53&lt;/time&gt;
&lt;/span&gt;
</description>
  <pubDate>Sat, 02 Feb 2013 20:53:32 +0000</pubDate>
    <dc:creator>Jean</dc:creator>
    <guid isPermaLink="false">23 at https://developpeur-drupal.com</guid>
    </item>

  </channel>
</rss>
