<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://developpeur-drupal.com/">
  <channel>
    <title>virtualbox</title>
    <link>https://developpeur-drupal.com/</link>
    <description/>
    <language>fr</language>
    
    <item>
  <title>Développement Drupal avec Vagrant sous Windows</title>
  <link>https://developpeur-drupal.com/article/developpement-drupal-vagrant-windows</link>
  <description>
&lt;span&gt;Développement Drupal avec Vagrant sous Windows&lt;/span&gt;

&lt;span&gt;&lt;span&gt;Jean&lt;/span&gt;&lt;/span&gt;

&lt;span&gt;&lt;time datetime="2016-03-14T22:46:36+01:00" title="Lundi 14 mars 2016 - 22:46"&gt;lun 14/03/2016 - 22:46&lt;/time&gt;
&lt;/span&gt;
</description>
  <pubDate>Mon, 14 Mar 2016 21:46:36 +0000</pubDate>
    <dc:creator>Jean</dc:creator>
    <guid isPermaLink="false">26 at https://developpeur-drupal.com</guid>
    </item>

  </channel>
</rss>
