<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://developpeur-drupal.com/">
  <channel>
    <title>git</title>
    <link>https://developpeur-drupal.com/</link>
    <description/>
    <language>fr</language>
    
    <item>
  <title>Avoir son repo privé et public : Gitlab !</title>
  <link>https://developpeur-drupal.com/article/avoir-son-repo-prive-public-gitlab</link>
  <description>
&lt;span&gt;Avoir son repo privé et public : Gitlab !&lt;/span&gt;

&lt;span&gt;&lt;span&gt;Jean&lt;/span&gt;&lt;/span&gt;

&lt;span&gt;&lt;time datetime="2013-02-02T21:53:32+01:00" title="Samedi 2 février 2013 - 21:53"&gt;sam 02/02/2013 - 21:53&lt;/time&gt;
&lt;/span&gt;
</description>
  <pubDate>Sat, 02 Feb 2013 20:53:32 +0000</pubDate>
    <dc:creator>Jean</dc:creator>
    <guid isPermaLink="false">23 at https://developpeur-drupal.com</guid>
    </item>

  </channel>
</rss>
