<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://developpeur-drupal.com/en">
  <channel>
    <title>git</title>
    <link>https://developpeur-drupal.com/en</link>
    <description/>
    <language>en</language>
    
    
  </channel>
</rss>
