<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://developpeur-drupal.com/">
  <channel>
    <title>QA</title>
    <link>https://developpeur-drupal.com/</link>
    <description/>
    <language>fr</language>
    
    <item>
  <title>Audit qualité d'un site Drupal 8 / 9</title>
  <link>https://developpeur-drupal.com/article/audit-qualite-site-drupal-8-9</link>
  <description>
&lt;span&gt;Audit qualité d'un site Drupal 8 / 9&lt;/span&gt;

&lt;span&gt;&lt;span&gt;Jean&lt;/span&gt;&lt;/span&gt;

&lt;span&gt;&lt;time datetime="2022-03-23T20:31:37+01:00" title="Mercredi 23 mars 2022 - 20:31"&gt;mer 23/03/2022 - 20:31&lt;/time&gt;
&lt;/span&gt;
</description>
  <pubDate>Wed, 23 Mar 2022 19:31:37 +0000</pubDate>
    <dc:creator>Jean</dc:creator>
    <guid isPermaLink="false">34 at https://developpeur-drupal.com</guid>
    </item>

  </channel>
</rss>
