<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://developpeur-drupal.com/en">
  <channel>
    <title>gitlab</title>
    <link>https://developpeur-drupal.com/en</link>
    <description/>
    <language>en</language>
    
    <item>
  <title>Quickly setup Gtilab-CI with your Drupal 8 module</title>
  <link>https://developpeur-drupal.com/en/article/quickly-setup-gtilab-ci-your-drupal-8-module</link>
  <description>
&lt;span&gt;Quickly setup Gtilab-CI with your Drupal 8 module&lt;/span&gt;

&lt;span&gt;&lt;span&gt;Jean&lt;/span&gt;&lt;/span&gt;

&lt;span&gt;&lt;time datetime="2019-07-23T08:57:45+02:00" title="Tuesday, July 23, 2019 - 08:57"&gt;Tue, 07/23/2019 - 08:57&lt;/time&gt;
&lt;/span&gt;
</description>
  <pubDate>Tue, 23 Jul 2019 06:57:45 +0000</pubDate>
    <dc:creator>Jean</dc:creator>
    <guid isPermaLink="false">32 at https://developpeur-drupal.com</guid>
    </item>

  </channel>
</rss>
