<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://developpeur-drupal.com/">
  <channel>
    <title>gitlab-ci</title>
    <link>https://developpeur-drupal.com/</link>
    <description/>
    <language>fr</language>
    
    <item>
  <title>Quickly setup Gtilab-CI with your Drupal 8 module</title>
  <link>https://developpeur-drupal.com/en/article/quickly-setup-gtilab-ci-your-drupal-8-module</link>
  <description>
&lt;span&gt;Intégration de Gtilab-CI avec votre module ou thème Drupal 8&lt;/span&gt;

&lt;span&gt;&lt;span&gt;Jean&lt;/span&gt;&lt;/span&gt;

&lt;span&gt;&lt;time datetime="2019-07-23T08:57:45+02:00" title="Mardi 23 juillet 2019 - 08:57"&gt;mar 23/07/2019 - 08:57&lt;/time&gt;
&lt;/span&gt;
</description>
  <pubDate>Tue, 23 Jul 2019 06:57:45 +0000</pubDate>
    <dc:creator>Jean</dc:creator>
    <guid isPermaLink="false">32 at https://developpeur-drupal.com</guid>
    </item>
<item>
  <title>Drupal 8 JavaScript tests with Nightwatch.js and Docker</title>
  <link>https://developpeur-drupal.com/en/article/drupal-8-javascript-tests-nightwatchjs-and-docker</link>
  <description>
&lt;span&gt;Drupal 8 Javascript tests avec Nightwatch.js et Docker&lt;/span&gt;

&lt;span&gt;&lt;span&gt;Jean&lt;/span&gt;&lt;/span&gt;

&lt;span&gt;&lt;time datetime="2019-02-09T21:46:01+01:00" title="Samedi 9 février 2019 - 21:46"&gt;sam 09/02/2019 - 21:46&lt;/time&gt;
&lt;/span&gt;
</description>
  <pubDate>Sat, 09 Feb 2019 20:46:01 +0000</pubDate>
    <dc:creator>Jean</dc:creator>
    <guid isPermaLink="false">18 at https://developpeur-drupal.com</guid>
    </item>
<item>
  <title>Drupal 8 et Gitlab-ci</title>
  <link>https://developpeur-drupal.com/article/drupal-8-gitlab-ci</link>
  <description>
&lt;span&gt;Drupal 8 et Gitlab-ci&lt;/span&gt;

&lt;span&gt;&lt;span&gt;Jean&lt;/span&gt;&lt;/span&gt;

&lt;span&gt;&lt;time datetime="2018-12-23T02:48:18+01:00" title="Dimanche 23 décembre 2018 - 02:48"&gt;dim 23/12/2018 - 02:48&lt;/time&gt;
&lt;/span&gt;
</description>
  <pubDate>Sun, 23 Dec 2018 01:48:18 +0000</pubDate>
    <dc:creator>Jean</dc:creator>
    <guid isPermaLink="false">15 at https://developpeur-drupal.com</guid>
    </item>

  </channel>
</rss>
