<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://developpeur-drupal.com/en">
  <channel>
    <title>drupal 11</title>
    <link>https://developpeur-drupal.com/en</link>
    <description/>
    <language>en</language>
    
    <item>
  <title>Mon nouveau module UI Icons</title>
  <link>https://developpeur-drupal.com/article/mon-nouveau-module-ui-icons</link>
  <description>
&lt;span&gt;My new module UI Icons&lt;/span&gt;

&lt;span&gt;&lt;span&gt;Jean&lt;/span&gt;&lt;/span&gt;

&lt;span&gt;&lt;time datetime="2024-09-11T17:58:06+02:00" title="Wednesday, September 11, 2024 - 17:58"&gt;Wed, 09/11/2024 - 17:58&lt;/time&gt;
&lt;/span&gt;
</description>
  <pubDate>Wed, 11 Sep 2024 15:58:06 +0000</pubDate>
    <dc:creator>Jean</dc:creator>
    <guid isPermaLink="false">37 at https://developpeur-drupal.com</guid>
    </item>

  </channel>
</rss>
