<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://developpeur-drupal.com/">
  <channel>
    <title>commons</title>
    <link>https://developpeur-drupal.com/</link>
    <description/>
    <language>fr</language>
    
    <item>
  <title>Drupal Commons 7 en Français (ou presque...)</title>
  <link>https://developpeur-drupal.com/article/drupal-commons-7-francais-presque</link>
  <description>
&lt;span&gt;Drupal Commons 7 en Français (ou presque...)&lt;/span&gt;

&lt;span&gt;&lt;span&gt;Jean&lt;/span&gt;&lt;/span&gt;

&lt;span&gt;&lt;time datetime="2013-12-14T13:24:58+01:00" title="Samedi 14 décembre 2013 - 13:24"&gt;sam 14/12/2013 - 13:24&lt;/time&gt;
&lt;/span&gt;
</description>
  <pubDate>Sat, 14 Dec 2013 12:24:58 +0000</pubDate>
    <dc:creator>Jean</dc:creator>
    <guid isPermaLink="false">20 at https://developpeur-drupal.com</guid>
    </item>

  </channel>
</rss>
