<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://developpeur-drupal.com/en">
  <channel>
    <title>Confirm form</title>
    <link>https://developpeur-drupal.com/en</link>
    <description/>
    <language>en</language>
    
    <item>
  <title>Drupal 9 confirmFormBase en un seul formulaire</title>
  <link>https://developpeur-drupal.com/article/drupal-9-confirmformbase-seul-formulaire</link>
  <description>
&lt;span&gt;Drupal 9 confirmFormBase in one form&lt;/span&gt;

&lt;span&gt;&lt;span&gt;Jean&lt;/span&gt;&lt;/span&gt;

&lt;span&gt;&lt;time datetime="2021-12-30T09:18:30+01:00" title="Thursday, December 30, 2021 - 09:18"&gt;Thu, 12/30/2021 - 09:18&lt;/time&gt;
&lt;/span&gt;
</description>
  <pubDate>Thu, 30 Dec 2021 08:18:30 +0000</pubDate>
    <dc:creator>Jean</dc:creator>
    <guid isPermaLink="false">33 at https://developpeur-drupal.com</guid>
    </item>

  </channel>
</rss>
