<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://developpeur-drupal.com/">
  <channel>
    <title>Powershell</title>
    <link>https://developpeur-drupal.com/</link>
    <description/>
    <language>fr</language>
    
    <item>
  <title>Scoop, un peu de ligne de commande sous Windows</title>
  <link>https://developpeur-drupal.com/article/scoop-peu-ligne-commande-windows</link>
  <description>
&lt;span&gt;Scoop, un peu de ligne de commande sous Windows&lt;/span&gt;

&lt;span&gt;&lt;span&gt;Jean&lt;/span&gt;&lt;/span&gt;

&lt;span&gt;&lt;time datetime="2016-07-24T00:12:02+02:00" title="Dimanche 24 juillet 2016 - 00:12"&gt;dim 24/07/2016 - 00:12&lt;/time&gt;
&lt;/span&gt;
</description>
  <pubDate>Sat, 23 Jul 2016 22:12:02 +0000</pubDate>
    <dc:creator>Jean</dc:creator>
    <guid isPermaLink="false">27 at https://developpeur-drupal.com</guid>
    </item>

  </channel>
</rss>
