<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://developpeur-drupal.com/">
  <channel>
    <title>php</title>
    <link>https://developpeur-drupal.com/</link>
    <description/>
    <language>fr</language>
    
    <item>
  <title>Développeur Web Php, quelle spécialité ?</title>
  <link>https://developpeur-drupal.com/article/developpeur-web-php-quelle-specialite</link>
  <description>
&lt;span&gt;Développeur Web Php, quelle spécialité ?&lt;/span&gt;

&lt;span&gt;&lt;span&gt;Jean&lt;/span&gt;&lt;/span&gt;

&lt;span&gt;&lt;time datetime="2013-02-10T12:58:17+01:00" title="Dimanche 10 février 2013 - 12:58"&gt;dim 10/02/2013 - 12:58&lt;/time&gt;
&lt;/span&gt;
</description>
  <pubDate>Sun, 10 Feb 2013 11:58:17 +0000</pubDate>
    <dc:creator>Jean</dc:creator>
    <guid isPermaLink="false">7 at https://developpeur-drupal.com</guid>
    </item>

  </channel>
</rss>
