<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0" xml:base="https://developpeur-drupal.com/">
  <channel>
    <title>javascript</title>
    <link>https://developpeur-drupal.com/</link>
    <description/>
    <language>fr</language>
    
    
  </channel>
</rss>
